<div class="gist">
    {% for file in files %}
    <div class="gist-file">
        <div class="gist-data">
            <table cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="line-numbers">
                            {% for line in file.lineRange %}
                            <span class="line-number">{{ line+1 }}</span>
                            {% endfor %}
                        </td>
                        <td class="line-data">
                            <pre class="line-pre">{{ file.content | safe }}</pre>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="gist-meta">
            <div style="float: right;">
                {% if repoUrl %}<a href="{{ repoUrl }}">repository</a>&nbsp;|&nbsp;{% endif %}
                <a href="{{ file.rawUrl }}">view raw</a>
            </div>
            <a href="{{ file.htmlUrl }}">{{ file.fileName }}</a> brought to you by <a href="http://www.gistfy.com">Gistfy</a>
        </div>
    </div>
    {% endfor %}
</div>