{% extends "layout.html" %}

{% set title = "Gistfy - About" %}
{% set description = "Gistify is a simple way to create snippets to share your code with others." %}

{% block content %}
<div class="tab-pane active" id="about">
    <h1>About</h1>
    <p>
        Most people have their code on GitHub, Bitbucket or any other kind of version control.<br>
        Sometimes you want to share your code on a blog, wiki or website.<br>
        How do you do this?<br>
        Probably, you copy and paste the code from one service to another, right?<br>
        Stop doing this.<br>
        Why?<br>
        Most of the time you change the code and you need to update all references, right?<br>
        Is for this that Gistfy was built for.<br>
        Code once, share everywhere.
    </p>
    <h2 id="whats-not">What this isn't</h2>
    <p>This isn't a <a href="http://pastebin.com/">pastebin</a> like tool. To use Gistfy you need to have your code somewhere.</p>
    <h2 id="supported-services">Supported Services</h2>
    <ul>
        <li>GitHub (public repository only)</li>
        <li>GitHub Gist (public gist only)</li>
        <li>Bitbucket (public repository only)</li>
    </ul>
    <h2 id="author">Author</h2>
    <p>This project is maintained by <a href="http://alexandrevicenzi.com" target="_blank">Alexandre Vicenzi</a>.</p>
    <h2 id="licensce">License</h2>
    <pre>The MIT License (MIT)

Copyright (c) 2014 Alexandre Vicenzi

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.</pre>
    <br>
</div>
{% endblock %}
