{% extends "layout.html" %}

{% set title = "Gistfy - Examples" %}
{% set description = "Gistfy embeddable snippets examples." %}

{% block content %}
<div class="tab-pane active" id="examples">
    <h1>Examples</h1>
    <p>These examples are based on <a href="https://highlightjs.org/static/demo/" target="_blank">highlight.js</a> examples. Most snippets do not contain working code.</p>
    <br>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="style" class="col-md-offset-3 col-md-2 control-label">Color Style</label>
            <div class="col-md-2">
                <select class="form-control" name="style">
                    <option value="">None</option>
                    <option value="androidstudio">Android Studio</option>
                    <option value="arduino">Arduino</option>
                    <option value="codepen">CodePen</option>
                    <option value="github">GitHub</option>
                    <option value="monokai">Monokay</option>
                    <option value="monokai_sublime">Monokay Sublime</option>
                    <option value="vs">Visual Studio</option>
                    <option value="xcode">Xcode</option>
                </select>
            </div>
            <div class="col-md-2">
                <button class="btn btn-success" type="submit">Change</button>
            </div>
        </div>
    </form>
    <h2>C++</h2>
    <script type="text/javascript" src="/github/isagalaev/highlight.js/test/detect/cpp/default.txt?type=js&lang=c&style={{ style }}"></script>
    <h2>CSS</h2>
    <script type="text/javascript" src="/github/isagalaev/highlight.js/test/detect/css/default.txt?type=js&lang=css&style={{ style }}"></script>
    <h2>Go</h2>
    <script type="text/javascript" src="/github/isagalaev/highlight.js/test/detect/go/default.txt?type=js&lang=go&style={{ style }}"></script>
    <h2>Java</h2>
    <script type="text/javascript" src="/github/isagalaev/highlight.js/test/detect/java/default.txt?type=js&lang=java&style={{ style }}"></script>
    <h2>Python</h2>
    <script type="text/javascript" src="/github/isagalaev/highlight.js/test/detect/python/default.txt?type=js&lang=python&style={{ style }}"></script>
    <h2>Ruby</h2>
    <script type="text/javascript" src="/github/isagalaev/highlight.js/test/detect/ruby/default.txt?type=js&lang=ruby&style={{ style }}"></script>
    <h2>XML</h2>
    <script type="text/javascript" src="/github/isagalaev/highlight.js/test/detect/xml/default.txt?type=js&lang=xml&style={{ style }}"></script>
</div>
{% endblock %}

{% block additional_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('select[name=style]').val('{{ style }}');
        });
    </script>
{% endblock %}