{% extends "layout.html" %}

{% set title = "Gistfy - Embeddable code snippets" %}
{% set description = "Gistfy is an easy way to create embeddable code snippets from your GitHub and Bitbucket repositories or your GitHub Gist." %}
{% set url = "http://www.gistfy.com" %}

{% block content %}
<div class="tab-pane active" id="home">
<h2>Create snippets from GitHub and Bitbucket repositories</h2>
<p>Gistfy is an easy way to create embeddable code snippets from your <a href="https://github.com/" target="_blank">GitHub</a> and <a href="https://bitbucket.org/" target="_blank">Bitbucket</a> repositories or your <a href="https://gist.github.com/" target="_blank">GitHub Gist</a>.</p>
<br>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Try</h3>
            </div>
            <div class="panel-body">
                <form id="formtry" class="form-horizontal">
                        <div class="form-group">
                            <label for="select" class="col-md-2 control-label required">Type</label>
                            <div class="col-md-10">
                                <select class="form-control" name="type" id="type" required>
                                    <option value="">Choose snippet type</option>
                                    <option value="gist">GitHub Gist</option>
                                    <option value="repo">GitHub or Bitbucket repository</option>
                                </select>
                            </div>
                        </div>
                        <div class="is-gist hide-me">
                            <div class="form-group">
                                <label for="gistid" class="col-md-2 control-label required">Id</label>
                                <div class="col-md-10">
                                    <input class="form-control" name="gistid" id="gistid" placeholder="Gist id" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="is-repo hide-me">
                            <div class="form-group">
                                <label for="host" class="col-md-2 control-label required">Host</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="host" id="host">
                                        <option value="">Choose a host</option>
                                        <option value="github">GitHub</option>
                                        <option value="bitbucket">Bitbucket</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user" class="col-md-2 control-label required">User</label>
                                <div class="col-md-10">
                                    <input class="form-control" name="user" id="user" placeholder="User name" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="repo" class="col-md-2 control-label required">Repo</label>
                                <div class="col-md-10">
                                    <input class="form-control" name="repo" id="repo" placeholder="Repository name" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="branch" class="col-md-2 control-label">Branch</label>
                                <div class="col-md-10">
                                    <input class="form-control" name="branch" id="branch" placeholder="Branch name"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="path" class="col-md-2 control-label required">File</label>
                                <div class="col-md-10">
                                    <input class="form-control" name="path" id="path" placeholder="File path" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="show-more hide-me">
                            <div class="form-group">
                                <label for="slicefrom" class="col-md-2 control-label">Slice
                                    <a href="/api.html" target="_blank" title="Show only selected lines. Click for more.">
                                        <i class="glyphicon glyphicon-question-sign"></i>
                                    </a>
                                </label>
                                <div class="col-md-2">
                                    <input class="form-control" name="slicefrom" id="slicefrom" placeholder="From"/>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control" name="sliceto" id="sliceto" placeholder="To"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lang" class="col-md-2 control-label">Language
                                    <a href="http://highlightjs.readthedocs.org/en/latest/css-classes-reference.html#language-names-and-aliases"
                                       target="_blank"
                                       title="Choose the programming language. Click for more.">
                                       <i class="glyphicon glyphicon-question-sign"></i>
                                   </a>
                               </label>
                                <div class="col-md-10">
                                    <input class="form-control" name="lang" id="lang" placeholder="Programming language"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="style" class="col-md-2 control-label">Color Style</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="style" id="style">
                                        <option value="">Choose a color style</option>
                                        <option value="github">GitHub</option>
                                        <option value="monokai">Monokay</option>
                                        <option value="monokai_sublime">Monokay Sublime</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="filetype" class="col-md-2 control-label">Output Type</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="filetype" id="filetype">
                                        <option value="">Choose a type</option>
                                        <option value="js">JavaScript</option>
                                        <option value="html">HTML (for jQuery or AngularJS)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group hide-me is-html">
                                <label for="library" class="col-md-2 control-label required">JS Library</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="library" id="library">
                                        <option value="">Choose a library</option>
                                        <option value="jquery">jQuery</option>
                                        <option value="angular">AngularJS</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group hide-me" id="btn-group">
                            <div class="col-md-offset-2 col-md-1">
                                <button class="btn btn-primary btn-ok" type="submit">OK</button>
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-primary" type="button" id="btn-more">More options</button>
                                <button class="btn btn-primary hide-me" type="button" id="btn-less">Less options</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                                <small class="required">Required</small>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row hide-me result result-all">
    <div class="col-md-offset-1 col-md-10">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <button type="button" class="close" onclick="$('.result').hide();"><span>&times;</span></button>
                <h3 class="panel-title">Result</h3>
            </div>
            <div class="panel-body">
                <div class="result code hide-me">
                    <strong>Add this snippet to your page</strong>

                    <!-- JS Result -->
                    <div class="js result hide-me">
                        <pre><span class="min-hljs-tag">&lt;<span class="min-hljs-title">script</span> <span class="min-hljs-attribute">type</span>=<span class="min-hljs-value">'text/javascript'</span> <span class="min-hljs-attribute">src</span>=<span class="min-hljs-value">'<span class="result-url"></span>'</span>&gt;</span><span class="min-hljs-tag">&lt;/<span class="min-hljs-title">script</span>&gt;</span></pre>
                    </div>
                    <!-- JS Result -->

                    <!-- jQuery Result -->
                    <div class="jquery result hide-me">
                        <pre><span class="min-hljs-tag">&lt;<span class="min-hljs-title">div</span> <span class="min-hljs-attribute">id</span>=<span class="min-hljs-value">"result"</span>&gt;</span><span class="min-hljs-tag">&lt;/<span class="min-hljs-title">div</span>&gt;</span></pre>
                        <pre class="min-hljs-code">$.get(<span class="min-hljs-string">'<span class="result-url"></span>'</span>, <span class="min-hljs-keyword">function</span> <span class="min-hljs-params">(data)</span> </span>{
     $(<span class="min-hljs-string">'#result'</span>).html(data);
});</pre>
                    </div>
                    <!-- jQuery Result -->

                    <!-- AngularJS Result -->
                    <div class="angular result hide-me">
                        <pre><span class="min-hljs-tag">&lt;<span class="min-hljs-title">div</span> <span class="min-hljs-attribute">ng-bind-html</span>=<span class="min-hljs-value">"result"</span>&gt;</span><span class="min-hljs-tag">&lt;/<span class="min-hljs-title">div</span>&gt;</span></pre>
                        <pre class="min-hljs-code">$http({ method: <span class="min-hljs-string">'GET'</span>, url: <span class="min-hljs-string">'<span class="result-url"></span>'</span> })
.success(<span class="min-hljs-function"><span class="min-hljs-keyword">function</span> <span class="min-hljs-params">(data, status, headers, config)</span> </span>{
    $scope.result = $sce.trustAsHtml(data);
});</pre>
                    </div>
                    <!-- AngularJS Result -->

                    <strong>And this will be the result</strong>
                    <div id="html-result"></div>
                    <small>If you want full working examples, please <a href="/usage.html" target="_blank">click here</a>.</small>
                </div>
                <div class="result error-msg hide-me">
                    <div class="alert alert-danger" role="alert"><span id="error-msg"></span></div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
