{% extends 'layout.html' %}

{% block title %}Gistfy - Usage{% endblock %}

{% block og %}
<meta property="og:title" content="Gistfy - Usage"/>
<meta property="og:description" content="Full working samples in AngularJS, jQuery and HTML."/>
<meta property="og:url" content="http://www.gistfy.com/usage.html"/>
{% endblock %}


{% block content %}
<div class="tab-pane active" id="usage">
    <h1>Usage</h1>
    <p>Full working samples in <a href="https://angularjs.org/" target="_blank">AngularJS</a>, <a href="http://jquery.com/" target="_blank">jQuery</a> and <a href="http://www.w3schools.com/tags/tag_script.asp" target="_blank">HTML</a>.</p>
    <h2 id="AngularJS">AngularJS</h2>
    <script type="text/javascript" src="/github/alexandrevicenzi/gistfy/samples/angularjs/app.js?lang=JavaScript"></script>
    <script type="text/javascript" src="/github/alexandrevicenzi/gistfy/samples/angularjs/index.html?lang=html"></script>
    <h2 id="jQuery">jQuery</h2>
    <script type="text/javascript" src="/github/alexandrevicenzi/gistfy/samples/jquery/app.js?lang=JavaScript"></script>
    <script type="text/javascript" src="/github/alexandrevicenzi/gistfy/samples/jquery/index.html?lang=html"></script>
    <h2 id="html">HTML</h2>
    <script type="text/javascript" src="/github/alexandrevicenzi/gistfy/samples/html/index.html?lang=html"></script>
</div>
{% endblock %}
