<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gistfy</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/github.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .main {
            margin-top: 60px;
        }

        .footer {
            margin-bottom: 5px;
            width: 100%;
        }

        .hljs {
            background: 
        }

        .ng-cloak {
            display: none;
            visibility: hidden;
        }
    </style>
</head>
<body ng-controller="MainController">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><strong>Gistfy</strong></a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav" role="tablist">
                    <li class="active">
                        <a href="#home" role="tab" data-toggle="tab">Home</a>
                    </li>
                    <li>
                        <a href="#api" role="tab" data-toggle="tab">API</a>
                    </li>
                    <li>
                        <a href="#examples" role="tab" data-toggle="tab">Examples</a>
                    </li>
                    <li>
                        <a href="#about" role="tab" data-toggle="tab">About</a>
                    </li>
                </ul>
            </div>
        </div>
        <a href="https://github.com/alexandrevicenzi/gistfy">
            <img style="position: absolute; top: 0; right: 0; border: 0; z-index: -1;"
                 src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
                 alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" />
        </a>
    </div>

    <div class="ng-cloak container main">
        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <h1>Gist your GitHub and Bitbucket repositories</h1>
                <p>Gistfy is a easy way to create Gists from your <a href="https://github.com/" target="_blank">GitHub</a> and <a href="https://bitbucket.org/" target="_blank">Bitbucket</a> repositories or your <a href="https://gist.github.com/" target="_blank">GitHub Gist</a>.</p>
                <p><i>A Gist is a <a href="http://en.wikipedia.org/wiki/Snippet_(programming)">code snippet</a>.</i></p>
                <br>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Try</h3>
                            </div>
                            <div class="panel-body">
                                <form name="formTry" class="form-horizontal">
                                        <div class="form-group">
                                            <label for="select" class="col-md-2 control-label">Type</label>
                                            <div class="col-md-10">
                                                <select class="form-control" name="type" ng-model="model.type" ng-options="t.desc for t in types" ng-change="changeType()">
                                                    <option value="" selected="selected">Choose gist type</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div ng-show="isGist">
                                            <div class="form-group">
                                                <label for="gistId" class="col-md-2 control-label">Id</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" name="gistId" placeholder="Gist id" type="text" ng-model="model.id" ng-required="isGist">
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="isRepo">
                                            <div class="form-group">
                                                <label for="select" class="col-md-2 control-label">Host</label>
                                                <div class="col-md-10">
                                                    <select class="form-control" name="host" ng-model="model.host" ng-options="h.desc for h in hosts" ng-required="isRepo">
                                                        <option value="" selected="selected">Choose a host</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="user" class="col-md-2 control-label">User</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" name="user" placeholder="User name" type="text" ng-model="model.user" ng-required="isRepo">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="repo" class="col-md-2 control-label">Repo</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" name="repo" placeholder="Repositoty name" type="text" ng-model="model.repo" ng-required="isRepo">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="path" class="col-md-2 control-label">File</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" name="path" placeholder="File path" type="text" ng-model="model.file" ng-required="isRepo">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-show="isRepo || isGist">
                                            <div class="col-md-offset-2 col-md-1">
                                                <button class="btn btn-primary" type="submit" style="min-width: 75px;" ng-click="btnOkClick()">OK</button>
                                            </div>
                                            <div class="col-md-1">
                                                <button class="btn btn-primary" type="button" ng-show="false">More options</button>
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="showResult">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <button type="button" class="close" ng-click="showResult = false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h3 class="panel-title">Result</h3>
                            </div>
                            <div class="panel-body">
                                <strong>Add this snippet to your page</strong>
                                <div ng-show="model.type.id === 'repo'">
                                    <pre><code>&lt;script type='text/javascript' src='http://www.gistfy.com/{{ model.host.id || ':host' }}/{{ model.user || ':user' }}/{{ model.repo || ':repository' }}/{{ model.file || ':path' }}'&gt;&lt;/script&gt;</code></pre>
                                </div>
                                <div ng-show="model.type.id === 'gist'">
                                    <pre><code>&lt;script type='text/javascript' src='http://www.gistfy.com/github/gist/{{ model.id || ':id' }}'&gt;&lt;/script&gt;</code></pre>
                                </div>
                                <strong>And this will be the result</strong>
                                <div ng-bind-html="htmlResult"></div>
                                <div class="alert alert-danger" role="alert" ng-show="resultError"><span>Oh snap! There's an error.</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="api">API</div>
            <div class="tab-pane" id="examples">
                <h1>Gistfy gist examples</h1>
                <p>Most snippets do not contain working code.</p>
                <div>
                    <strong>C++</strong>
                    <script type="text/javascript" src="/github/isagalaev/highlight.js/test/detect/cpp/default.txt?type=js&lang=c"></script>
                </div>
                <div>
                    <strong>CSS</strong>
                    <script type="text/javascript" src="/github/isagalaev/highlight.js/test/detect/css/default.txt?type=js&lang=css"></script>
                </div>
                <div>
                    <strong>Java</strong>
                    <script type="text/javascript" src="/github/isagalaev/highlight.js/test/detect/java/default.txt?type=js&lang=java"></script>
                </div>
                <div>
                    <strong>Python</strong>
                    <script type="text/javascript" src="/github/isagalaev/highlight.js/test/detect/python/default.txt?type=js&lang=python"></script>
                </div>
            </div>
            <div class="tab-pane" id="about">About</div>
        </div>
    </div>
    <div class="footer text-center">
        <div>Copyright © Gistfy {{ thisYear() }}. Theme created by <a href="http://bootswatch.com/yeti/">Bootswatch</a>.</div>
    </div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/highlight.pack.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>